<p><b>Welcome to BORSA homepage</b></p>

{% if stock_markets%}
<p><b>Stock markets:</b></p>
<ul>
{% for stock_market in stock_markets %}
    <li><a href="stock_market/{{stock_market.market_id}}/">{{stock_market.market_id}}, {{stock_market.market_name}}</a></li>
{% endfor %}
</ul>
{% endif %}


<p>Add new stock markets</p>
<form action="/BasicApp/add_stock_market_result">
<p>
<input type="text" name="market_id" class="form-control"
                                  placeholder="Market id" /> </p>

<p>
<input type="text" name="market_name" class="form-control"
                                    placeholder="Market name" /> </p>    
                                    
<p>
    <input type="text" name="country" class="form-control"
                                        placeholder="Country" /> </p>                                    

<p>
<input type="text" name="city" class="form-control"
                                    placeholder="City" /> </p>   

<p>
    <input type="text" name="time_zone" class="form-control"
                                        placeholder="Timezone" /> </p> 
                                                                            
           
<p>
    <input type="text" name="open_time" class="form-control"
                                        placeholder="Open time" /> </p>                                    

<p>
<input type="text" name="close_time" class="form-control"
                                    placeholder="Close time" /> </p>   

<p>
    <input type="text" name="lunch_break" class="form-control"
                                        placeholder="Lunch break" /> </p>                                         


    <input type="submit" value="Add" />
</form>

