<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '../static/home.css' %}">

    
</head>
<body>

    <p id="title"><b>Welcome to BORSA homepage</b></p>


           
    <div class="show-stocks">
        <p><b>Stocks</b></p>
        {% if stocks %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Stock Name</th>
                    <th scope="col">Market Id</th>
                    <th scopre="col">Value</th>
                    <th scope="col"></th>
                    
                </tr>
                </thead>

                <tbody>
                    {%for stock in stocks%}
                    <tr>
                        <th scope="row">{{stock.stock_symbol}}</th>
                        <td>{{stock.stock_name}}</td>
                        <td>{{stock.stock_market.market_id}}</td>
                        <td> 0 </td>
                        <td><a href="delete_stock_market/{{stock_market.market_id}}/" class="btn btn-info">Delete</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

            {% else %}
            <div class="alert alert-danger">
                No stocks have been added yet...
            </div>
            {% endif%}
        </div>




                                                

           
    <div class="show-stock-markets">
        <p><b>Stock markets</b></p>

        {% if stock_markets %}

            <table class="table">
                
                <thead>
                <tr>
                    
                    <th scope="col">id</th>

                    <th scope="col">Market Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    
                </tr>
                </thead>

                <tbody>
                    {%for stock_market in stock_markets%}
                    <tr>
                        <th scope="row">{{stock_market.market_id}}</th>
                        <td>{{stock_market.market_name}}</td>
                        <td><a href="stock_market/{{stock_market.market_id}}/" class="btn btn-info">Details</a></td>
                        <td><a href="delete_stock_market/{{stock_market.market_id}}/" class="btn btn-danger">Delete</a></td>
                        
                        
                    
                    </tr>

                    {%endfor%}
                
                </tbody>
            </table>

            {% else %}
            <div class="alert alert-danger">
                No markets have been added yet...
            </div>
            {% endif%}
        </div>


 
















<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>

