<p><b>Welcome to BORSA homepage</b></p>
    
<form action="/BorsaApp/add_market_result.html">
<p>
<input type="text" name="market_id" class="form-control"
                                  placeholder="Market id" /> </p>

<p>
<input type="text" name="market_name" class="form-control"
                                    placeholder="Market name" /> </p>    
                                    
<p>
    <input type="text" name="country" class="form-control"
                                        placeholder="Country" /> </p>                                    

<p>
<input type="text" name="city" class="form-control"
                                    placeholder="City" /> </p>   

<p>
    <input type="text" name="timezone" class="form-control"
                                        placeholder="Timezone" /> </p> 
                                                                            
           
<p>
    <input type="text" name="open_time" class="form-control"
                                        placeholder="Open time" /> </p>                                    

<p>
<input type="text" name="close_time" class="form-control"
                                    placeholder="Close time" /> </p>   

<p>
    <input type="text" name="lunch_break" class="form-control"
                                        placeholder="Lunch break" /> </p>                                         


    <input type="submit" value="Add" />
</form>

